<!DOCTYPE html>
<html>
  <head>
    <title>New Website Enquiry</title>
  </head>
  <body>
    <p>Name: <%= @enquiry.name %></p>
    <p>Email: <%= @enquiry.email %></p>
    <p>Message: <%= @enquiry.message %></p>
  </body>
</html>