<div class="wrapper">
  <div class="blog-posts">
    <h1 class="page-title">Blog</h1>
    <% @blog_posts.each do |blog_post| %>
      <div class="blog-post">
        <%= blog_post.title %>
      </div>
    <% end %>
    <%= paginate @blog_posts %>
  </div>
  <%= render 'shared/recent_posts' %>
</div>