$wrapper-width: 1140px;
$header-image-width: 1400px;

$yellow: #fef734;
$black: #2a2a2a;
$white: #ffffff;

$light-grey: #ebebeb;
$medium-grey: #dedede;
$medium-dark-grey: #c6c6c6;
$dark-grey: #505050;

// $font1: "didot";
$font1: "freight-display-pro";
$font2: "proxima-nova";
$grey-text: #9c9c9c;

$light: 300;
$regular: 400;
$bold: 700;