$black: #252525;
$grayfont: #8A8A8A;
$lightgray: #E6E6E6;
$darkgray: #C8C8C8;
$proxima: 'proxima-nova';
$calluna: 'Calluna';
$link-hover: #595959;

$ss-standard: 'SSStandard';
$ss-social: 'SSSocialRegular';
$ss-gizmo: 'SSGizmo'