<header>
  <div class="wrapper">
    Biscuit recruitment
    <a class="menu-toggle" href='javascript:void(0)'>
      Menu
      <span class="ss-icon ss-standard">&#xE9A1;</span>
      <div class="main-menu">
        <a class="close" href='javascript:void(0)'>
          close
          <span class="ss-icon ss-standard">&#x2421;</span>
        </a>
        <ul>
          <% MenuItem.order('position').each do |menu_item| %>
            <li><%= link_to menu_item.name, menu_item.link.present? ? menu_item.link : page_path(menu_item.page.slug) %></li>
          <% end %>
        </ul>
      </div>
    </a>
  </div>
</header>