<div class="search">
  <h3>Search</h3>
  <form action="/vacancies" class='vacancy_search'>
    <label for="category">Job Category</label>
    <div class="styled-select">
      <%= select_tag "category", options_from_collection_for_select(VacancyCategory.all, "id", "name") %>
    </div>
    <label for="category">Vacancy Type</label>
    <div class="radio-buttons">
      <input type="radio" name="vacancy_type" value="Permanent" checked="true" >
      Perm
      <input type="radio" name="vacancy_type" value="Temporary">
      Temp
      <input type="radio" name="vacancy_type" value="Contract">
      Contract
    </div>

    <input type='submit' value="Search Jobs">
  </form>
</div>