<div class="search-box">
  <h3>Search</h3>
  <form action="/vacancies" class='vacancy_search'>
    <label for="category">Job Category</label>
    <div class="styled-select">
      <%= select_tag "category", options_from_collection_for_select(VacancyCategory.all, "id", "name") %>
    </div>
    <label for="category">Vacancy Type</label>
    <div class="radio-buttons">
      <div class="radio-option">
        <input type="radio" name="vacancy_type" value="Permanent" checked="true" >
        Perm
      </div>
      <div class="radio-option">
        <input type="radio" name="vacancy_type" value="Temporary">
        Temp
      </div>
      <div class="radio-option">
        <input type="radio" name="vacancy_type" value="Contract">
        Contract
      </div>
      <div class="radio-option">
        <input type="radio" name="vacancy_type" value="">
        All
      </div>
    </div>

    <input type='submit' value="Search Jobs">
  </form>
</div>