<%
meta :description => ""
%>
<div class="header-image">
  
</div>
<div class="wrapper">
  <div class="home-col1">
    
  </div>
  <div class="home-col2 sidebar">
    <div class="search">
      <h2>Search</h2>
      <form action="" class='vacancy_search'>
        <select name="category" id="category">
          <option value="">Construction</option>
          <option value="">Education</option>
        </select>
        <input type="checkbox" name="vacancy_type" value="Perm" >
        <input type="checkbox" name="vacancy_type" value="Temp">
      </form>
    </div>
  </div>
</div>