html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -295px;
}
body {
  font-family: $font2;
  background: $medium-grey;
  color: $black;
}

.wrapper {
  margin: 0 auto;
  width: $wrapper-width;
}
h1, h2, h3, h4, h5 {
  font-family: $font1;
  font-weight: $light;
  margin: 0;
}
h1, h2, h3, h4 {
  text-transform: uppercase;
}
h1 { font-size: 38px; }
h2 {
  font-size: 34px;
  font-weight: $bold;
}
h3 { font-size: 30px; }
h4 { font-size: 26px; }
h5 { font-size: 24px; }
ul {
  list-style-type: none;
  padding: 0;
}

header {
  height: 110px;
  background: $black;
  color: $white;
}
header .logo {
  margin: 15px 0;
}
header .menu-toggle {
  float: right;
  margin-top: 50px;
  font-size: 14px;
  font-weight: $light;
  text-transform: uppercase;
  color: $grey-text;
  text-decoration: none;
  span {
    color: $yellow;
    font-size: 18px;
    margin: -2px 0 0 10px;
    float: right;
  }
}
header .main-menu {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: $yellow;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0.9;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
header .main-menu .close {
  color: $dark-grey;
  float: right;
  font-size: 14px;
  margin: 45px 30px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  span {
    font-size: 18px;
    margin: -2px 0 0 5px;
    float: right;
    color: $dark-grey;
  }
}
header .main-menu ul {
  margin-top: 180px;
  font-family: $font1;
  font-weight: $bold;
}
header .main-menu li {
  float: left;
  clear: left;
  width: 100%;
  text-align: center;
  height: 100px;
  font-size: 52px;
  color: $dark-grey;
  box-sizing: border-box;
}
header .main-menu li a {
  color: $dark-grey;
  text-decoration: none;
  float: left;
  width: 100%;
  height: 100%;
  padding: 15px 0;
}
.header-image {
  width: $header-image-width;
  margin: 0 auto;
  height: 430px;
  background: url('homepage-bg.png');
}
.homepage .header-image {
  margin-bottom: -235px;
  height: 565px;
}
.header-image .search-box {
  @include gs-span(d, 8, 12);
  @include gs-float(d, right);
  margin: 20px 0 0 0;
}
.homepage .col1 { @include gs-span(d, 1, 7); }
.homepage .col2 { @include gs-span(d, 8, 12); }
.homepage .col2 h2 { margin: 45px 0 35px 0; }
.homepage .block {
  @include gs-span(d, all);
  height: 387px;
  background: $dark-grey;
  margin-top: 20px;
  padding: 40px;
  box-sizing: border-box;
  background-size: cover !important;
  overflow: hidden;
}
.homepage .block h3 {
  color: white;
  margin-top: 140px;
}
.homepage .block p {
  float: left;
  @include gs-span(d, 1, 8);
  font-size: 22px;
}
.homepage .block-align-right h3 {
  float: right;
}
.homepage .block-align-left h3 {
  float: left;
}
.homepage .block-align-left p {
  float: right;
  margin-right: 0;
}
.homepage .title-block {
  @include gs-span(d, all);
  background: $black;
  color: $yellow;
  height: 213px;
  opacity: 0.6;
  padding: 40px 100px;
  box-sizing: border-box;
  margin: 0 0 20px 0;
}
.homepage .title-block .logo {
  width: 435px;
  margin: 0 10px;
}
.homepage .title-block .caption {
  font-size: 24px;
  margin: 0;
  text-align: center;
  font-weight: $light;
}
.homepage .sidebar {
  margin-top: 0;
}
.page-title {
  background: $black;
  color: $yellow;
  float: left;
  font-size: 48px;
  margin: 20px 0 0 0;
  padding: 75px 0;
  @include gs-span(d, all);
  text-align: center;
  text-transform: none;
}
.page, .blog-post {
  @include gs-span(d, 1, 7);
}
.page, .blog-post {
  .header-image {
    @include gs-span(d, all);
    margin-top: 20px;
    margin-bottom: -20px;
    height: 330px;
  }
}
.blog-post .header-image {
  position: relative;
}
.blog-post .header-image span {
  position: absolute;
  bottom: 20px;
  color: $white;
  font-weight: $light;
}
.blog-post .header-image .author {
  left: 20px;
}
.blog-post .header-image .date {
  right: 20px;
}

.sidebar {
  @include gs-span(d, 8, 12);
  margin-top: 20px
}
.sidebar h2 {
  margin: 40px 0;
}
.search-box {
  border: 8px solid $light-grey;
  background: $white;
  padding: 30px 20px;
}
.search-box h3 { margin: 0 0 20px 0; }
.job-list {
  @include gs-span(d, 1, 7);
}
.job-list .job {
  height: 300px;
  @include gs-span(d, all);
  @include gs-float(d, left);
}
.job-list .job h4 { float: left; }
.job .job-desc {
  float: left;
  clear: left;
}
.job .social { 
  float: right;
  color: $grey-text;
}
.job .social div {
  float: right;
  margin: 0 0 0 10px;
}
.job .social a {
  color: $dark-grey;
  text-decoration: none;
  margin: 0 5px 0 0;
}
.job-list .job .job-info {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  padding-top: 40px;
}
.job-info .job-attr {
  float: left;
  margin-right: 60px;
}
.job .job-info .job-attr p { margin-top: 5px; }
.job-page {
  @include gs-span(d, 1, 7);
}
.job-page .job {
  height: auto;
  float: left;
  @include gs-span(d, all);
}
.job-page .job h4 {
  float: left;
  text-transform: none;
}
.job-page .job .job-info {
  float: left;
  margin: 70px 0 0 0;
}
.job {
  background: $white;
  box-sizing: border-box;
  height: 325px;
  margin: 20px 0 0 0;
  padding: 25px;
  position: relative;
}
.latest-jobs .job h4 { margin: 0 0 10px 0; }
.latest-jobs .job h5 { margin: 20px 0 0 0; }
.latest-jobs .job p {
  margin: 0;
  font-size: 18px;
  margin-top: 5px;
}
.arrow-btn {
  background: $medium-dark-grey;
  padding: 20px 15px;
  text-align: center;
  height: 120px;
  width: 120px;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  .arrow {
    font-size: 20px;
    border: 2px solid $black;
    height: 45px;
    width: 45px;
    margin: 10px 0 0 18px;
    padding-top: 9px;
    box-sizing: border-box;
    float: left;
    clear: left;
    border-radius: 500px;
  }
}
.job .arrow-btn {
  bottom: 0;
  position: absolute;
  right: 0;
}
.recent-posts {
  @include gs-span(d, all);
  margin-top: 237px;
}
.recent-posts .recent-post {
  @include gs-span(d, all);
  background: $white;
  box-sizing: border-box;
  height: 72px;
  margin-top: 1px;
  padding: 20px;
}
.recent-posts .recent-post h4 {
  float: left;
}
.recent-posts .recent-post .arrow-btn {
  float: right;
  height: 72px;
  margin: -20px;
  padding: 5px;
  width: 72px;
}
.recent-posts .recent-post .arrow-btn span {
  margin-left: 10px;
}
.blog-posts {
  @include gs-span(d, 1, 7);
}
.blog-posts .blog-post {
  @include gs-span(d, all);
  @include gs-float(d, left);
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  height: 200px;
  background: $white;
}
.page-content, .blog-post-content {
  @include gs-float(d, left);
  @include gs-span(d, all);
  background: $white;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  padding: 20px;
}
.page-content ul {
  list-style-type: disc;
  padding: 0 0 0 20px;
  margin: 0;
}
.page-content li {
  margin: 5px 0 5px 0;
  float: left;
  clear: left;
  padding-left: 15px;
}
.page-content p {
  margin-bottom: 30px;
}
form {
  font-weight: $light;
  label {
    float: left;
    clear: both;
    text-transform: uppercase;
  }
  .styled-select {
    height: 45px;
    margin: 10px 0 20px 0;
    float: left;
    clear: left;
    width: 100%;
    background: url('expand.png') no-repeat $dark-grey 97% center;
  }
  .styled-select select {
    border: 0;
    background: transparent;
    color: $yellow;
    height: 45px;
    padding: 10px 20px;
    width: 100%;
    -webkit-appearance: none;
  }
  .radio-buttons {
    margin: 10px 0 30px 0;
    float: left;
    clear: left;
    width: 100%;
  }
  .radio-buttons .radio-option {
    float: left;
    width: 25%;
  }
  input[type='radio'] {
    margin-left: 90px;
    &:first-of-type {
      margin-left: 0;
    }
  }
  input[type='text'] {
    float: left;
    clear: left;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    width: 100%;
  }
  textarea {
    float: left;
    clear: left;
    width: 100%;
  }
  input[type='submit'] {
    background: $black;
    color: $white;
    width: 100%;
    padding: 15px;
    border: 0;
    text-transform: uppercase;
    font-weight: $light;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
}
.contact-page form input[type='text'] {
  height: 45px;
  background: $medium-grey;
  border: 0;
  margin: 0 0 20px 0;
  padding: 15px;
  box-sizing: border-box;
}
.contact-page form input[type='submit'] {
  float: left;
  width: auto;
  padding: 15px 60px;
}
.contact-page form textarea {
  min-height: 85px;
  background: $medium-grey;
  border: 0;
  margin: 0 0 20px 0;
  padding: 15px;
  box-sizing: border-box;
}
.contact-page .page-content {
  @include gs-span(d, 1, 7);
  height: 405px;
}
.contact-page .contact-info {
  @include gs-span(d, 8, 12);
  background: $white;
  height: 405px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}
.contact-page .contact-info h3 {
  text-transform: lowercase;
}
.contact-page .contact-info h4 {
  text-transform: none;
  margin: 20px 0 0 0;
  font-size: 24px;
  font-weight: $bold;
}
.contact-page .contact-info p {
  text-transform: uppercase;
  font-size: 18px;
  margin: 5px 0 0 0;
  font-weight: $light;
}
.contact-page .contact-info ul {
  margin: 5px 0 0 0;
  font-weight: $light;
}
.contact-page .contact-info ul li {
  margin: 0 0 10px 0;
}
.contact-page .contact-info ul span {
  margin: 2px 10px 0 0;
  float: left;
}
.contact-page .contact-info .social li {
  float: left;
  margin: 0 15px 0 0;
  font-size: 18px;
}
.contact-page .contact-info .social li a {
  color: $black;
  text-decoration: none;
}
footer {
  @include gs-span(d, all);
  background: $black;
  color: $grey-text;
  margin: 50px 0 0 0;
  padding: 40px 0 30px 0;
  font-weight: $light;
  height: 295px;
  box-sizing: border-box;
}
footer .col {
  @include gs-span(d, 1, 3);
  @include gs-float(d, left);
  margin-right: 14%;
  box-sizing: border-box;
  &:last-child {
    margin-right: 0;
    width: 25%;
  }
  p {
    @include gs-span(d, 1, 8);
    @include gs-float(d, left);
  }
}
footer .col h3{
  color: $white;
}
footer .contact span {
  color: $yellow;
  margin: 0 15px 0 0;
  font-size: 18px;
}
footer .social li {
  float: left;
  clear: left;
  margin-bottom: 5px;
}
footer .social span {
  margin: -4px 15px 0 0;
  font-size: 20px;
  float: left;
}
footer .new_newsletter_subscriber {
  input[type='text'] {
    border: 3px solid #505050;
    background: none;
    padding: 10px;
    float: left;
    text-transform: uppercase;
    width: 210px;
    color: $grey-text;
  }
  input[type='submit'] {
    color: $yellow;
    border: 3px solid #505050;
    border-left: 0;
    float: left;
    width: 45px;
    height: 44px;
    padding: 10px 0;
  }
}
footer .copyright {
  color: $white;
  float: left;
  font-size: 12px;
  margin: 25px 0 0 0;
}
footer .soloweb-logo {
  float: right;
  margin: 25px 0 0 0;
}

@media only screen and (min-width:320px) and (max-width: 1399px){
  .header-image {
    width: 100%;
  }
}