.wrapper {
  width: 1140px;
  margin: 0 auto;
}

body {
  font-family: $calluna;
}
h3 {
  font-weight: 300px;
}
p, h1, h2 {
  margin: 0;
}
h1 {
  font-size: 42px;
  font-weight: 300;
  text-transform: uppercase;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: $link-hover;
}
.pull-right {float: right}
.strong { font-weight: bold; }
.big { font-size: 1.2em; font-weight: 100; }
h2 {
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
}
header {
  padding: 14px 0;
  width: 100%;
  background: $black;
  color: white;
  .logo {
    float: left;
  }
  a {
    color: $grayfont;
    text-decoration: underline;
  }
  .top-menu {
    float: right;
    .social-icons {
      float: left;
      color: $grayfont;
      a {
        color: $grayfont;
        margin: 0 0 0 10px;
        text-decoration: none;
      }
    }
  }
  .mobile-nav-button {
    display: none;
  }
  .contact-info, {
    float: left;
    color: $grayfont;
    ul {
      padding: 0;
      margin: 0;
      li {
        margin: 0 0 0 40px;
        float: left;
        list-style-type: none;
      }
    }
  }
  nav.main-navigation {
    float: right;
    // padding: 14px 0 20px 0;
    font-size: 18px;
    font-weight: 100;
    ul {
      margin: 25px 0 0 0;
      li {
        display: inline;
        margin: 0 0 0 30px;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
.homepage-header {
  max-height: 600px;
  position: relative;
  background: image-url('telescope-slider-bg.jpeg') no-repeat center top;
  .search {
    form {
      margin-left: 55px;
    }
    input {
      text-transform: uppercase;
    }
  }
}
.header-image {
  .header-text {
    margin: 50px 0 0 0;
    padding: 30px 63px 30px 35px;
    float: left;
    background: $black;
    color: white;
  }
}
.page-header {
  background: image-url('telescope-slider-bg.jpeg') no-repeat center top -50px;
  height: 400px;
}
.search {
  clear: left;
  padding: 20px 0 40px 0;
  margin: 238px 0 0 0;
  background: image-url('search-bg.png');
  color: white;
  font-size: 18px;
  h3 {
    margin: 0 0 10px 55px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
  }
}

.box-large {
  height: 573px;
  position: relative;
}
.box-small {
  height: 286px;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
  p {
    font-style: italic;
  }
  .overlay {
    background: image-url('overlay-bg.png');
    margin: 10px;
    display: inline-block;
    width: 92%;
    height: 266px;
  }
}

.box-small, .box-large {
  h3 {
    font-size: 26px;
    font-weight: 300;
    margin: 100px 0 15px 0;
    text-transform: uppercase;
  }
}
.impossible-bg { background: image-url('impossible.jpeg'); color: white; }
.ladder-bg { background: image-url('ladder.jpeg'); height: 572px;}
.field-bg { background: image-url('field.jpeg') }
.jigsaw-bg { background: image-url('jigsaw.jpeg'); height: 285px; }
.download-bg { background: image-url('downloadbox.png') no-repeat center #252525; color: white; }
.black-bg { background: $black; color: white;}

.telescope-slider-bg { background: image-url('telescope-slider-bg.jpeg') no-repeat center no-repeat center top -50px; }
.impossible-slider-bg { background: image-url('impossible-slider-bg.jpeg') no-repeat center; }
.jigsaw-slider-bg { background: image-url('jigsaw-slider-bg.jpeg') no-repeat center; }
.ladder-slider-bg { background: image-url('ladder-slider-bg.jpeg') no-repeat center; }
.field-slider-bg { background: image-url('field-slider-bg.jpeg') no-repeat center; }
.bank-station-slider-bg { background: image-url('bank-station-slider-bg.jpeg') no-repeat center; }

.box-lightgray { background: $lightgray}
.box-darkgray { background: $darkgray}

.box-arrow-white { background: image-url('box-arrow-white.png'); }
.box-arrow-black { background: image-url('box-arrow-black.png'); }

.box-small .box-arrow {
  right: 0;
  top: 50%;
  position: absolute;
  width: 9px;
  height: 25px;
}

.box-large .box-arrow {
  left: 0;
  top: 75%;
  position: absolute;
  width: 9px;
  height: 25px;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 55px 100px 0;
}

.page {
  .content {
    color: $black;
    float: left;
    a {
      color: $black;
      text-decoration: underline;
    }
    h1 {
      margin: 40px 0 0 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
      margin: 25px 0 0 0;
      font-style: normal;
    }
    h3 {
      font-size: 16px;
    }
    img {
      display: block;
      margin: 40px auto;
    }
    p {
      margin: 25px 0 0 0;
      font-size: 16px;
    }
    input[type='text'], textarea {
      float: left;
      width: 100%;
      padding: 15px 0 15px 20px;
      clear: left;
      margin: 20px 0 0 0;
      border: 1px #c2c2c2 solid;
    }
    input[type='text']:focused {
      border: $black;
    }
    input[type='submit'] {
      font-family: $proxima;
      color: white;
      margin: 20px 0;
      padding-left: 160px;
      padding-right: 160px;
      background: $black;
    }
    ol {
      counter-reset:li; /* Initiate a counter */
      margin: 25px 0 50px 0;
      padding-left:0; /* Remove the default left padding */
      li {
        // text-indent: 40px;
        img {
          margin: 0;
          float: right;
        }
      }
    }
    ol > li {
      position:relative; /* Create a positioning context */
      margin:0 0 20px 0; /* Give each list item a left margin to make room for the numbers */
      padding: 0; /* Add some spacing around the content */
      list-style: none; /* Disable the normal item numbering */
    }
    ol > li:before {
      text-indent: 0px;
      content:counter(li); /* Use the counter as content */
      counter-increment:li; /* Increment the counter by 1 */
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;

      font-family: $calluna;
      font-size: 16px;

      /* Some space between the number and the content in browsers that support
         generated content but not positioning it (Camino 2 is one example) */

      padding: 4px 10px;
      margin: 0 3px 0 0;
      color:#fff;
      background: $black;
      text-align:center;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin: 0 0 5px 0;
        padding: 0 0 0 25px;
        background: image-url('list-square.jpeg') left top 6px no-repeat;
      }
    }
    .btn {
      text-align: center;
      margin: 30px 0 0 0;
      float: left;
      color: white;
      text-decoration: none;
    }
    .new_enquiry {
      margin: 0;
      textarea {
        height: 100px;
      }
    }
    .joblisting {
      h3 {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
      }
      p {
        margin: 0;
        font-style: normal;
      }
      .btn {
        margin-left: 20px;
        color: white;
        text-decoration: none;
        float: right;
      }
    }
  }
}
.btn {
  background: $black;
  color: white;
  padding: 10px 27px;
  text-decoration: none;
  font-family: $proxima;
  font-size: 18px;
  a {
    color: white;
  }
}
.sidebar {
  .joblisting {
    .btn {
      text-transform: uppercase;
    }
  }
}
.contact-page {
  .contact-info {
    margin-top: 60px;
    h2 {
      margin: 0 0 20px 0;
    }
    p {
      font-size: 18 px;
      margin: 0 0 15px 0;
    }
  }
}
footer {
  background: $black;
  color: $grayfont;
  width: 100%;
  float: left;
  padding: 50px 0 0 0;
  h3 {
    color: white;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0 0 25px 0;
  }
  p {
    width: 260px;
    line-height: 30px;
  }
  a {
    color: $grayfont;
    text-decoration: underline;
  }
  form {
    margin: 30px 0 0 0;
    input#newsletter_subscriber_email {
      font-family: $proxima, sans-serif;
      float: left;
      font-size: 14px;
      color: #a6a6a6;
      background: $black;
      font-weight: 700;
      border: 2px solid #8b8b8b;
      border-right: none;
      border-radius: 3px 0 0 3px;
      padding: 12px 15px 11px 15px;
      vertical-align: middle;
      display: inline-block;
      margin: 0;
      width: 220px;
    }
    .send-btn {
      float: left;
      font-family: "jaf-domus-titling-web", sans-serif;
      font-size: 24px;
      font-weight: 700;
      border: 2px solid #8b8b8b;
      border-radius: 0 3px 3px 0;
      vertical-align: middle;
      display: inline-block;
      margin: 0;
      background: #9b9b9b;
      padding: 4px 13px 2px 13px;
      a {
        color: white;
      }
    }
  }
  .social-icons a {
    color: $grayfont;
    text-decoration: none;
    font-size: 24px;
    margin: 0 15px 0 0;
  }
  .sub-footer {
    border-top: 2px solid white;
    margin: 45px 0 0 0;
    padding: 20px 0 30px 0;
    float: left;
    clear: left;
    color: white;
    font-size: 12px;
    .copyright {
      float: left;
    }
    .soloweb-logo {
      float: right;
    }
  }
}

nav.pagination {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 18px;
  a {
    text-decoration: none !important;
  }
  .page {
    font-size: 20px;
  }
}