@media only screen and (min-width:320px) and (max-width: 767px){
  .wrapper {
    width: 95%;
    margin: 0 2.5%;
  }
  .header-image {
    width: 100%;
    height: 345px;
  }
  .header-image .search-box {
    @include gs-span(m, all);
    box-sizing: border-box;
    padding: 15px;
  }
  header .logo {
    height: 55px;
    margin: 28px 0;
  }
  header .main-menu ul {
    margin-top: 0;
  }
  header .main-menu ul li {
    font-size: 32px;
    height: 45px;
  }
  header .main-menu ul li a {
    height: 100%;
    padding: 0;
  }
  .homepage .col1 { @include gs-span(m, all); }
  .homepage .col2 { @include gs-span(m, all); }
  .homepage .title-block {
    padding: 20px;
    margin-top: -230px;
    margin-bottom: 380px;
  }
  .homepage .title-block .logo {
    width: 100%;
  }
  .homepage .block {
    padding: 15px;
    height: 280px;
  }
  .homepage .block p {
    font-size: 18px;
    @include gs-span(m, all);
  }
  .homepage .block h3 {
    float: none;
    text-align: center;
    margin-top: 105px;
  }
  .homepage .block-double h3, p {
    margin-top: 0;
  }

  .homepage .sidebar {
    width: 100%;
    margin: 0;
  }
  .sidebar h2 {
    display: none;
  }
  .sidebar .latest-jobs {
    display: none;
  }

  .page-title {
    padding: 10px 30px;
    box-sizing: border-box;
  }

  .page-wrapper {
    .sidebar {
      display: none;
    }
  }

  .page {
    @include gs-span(m, all);
  }
  
  .contact-page .page-content {
    @include gs-span(m, all);
    @include gs-float(m, left);
  }
  .contact-page .contact-info {
    @include gs-span(m, all);
    @include gs-float(m, left);
  }
  .contact-page form input[type='submit'] {
    width: 100%;
  }

  .job-wrapper .sidebar {
    display: none;
  }
  .job-page {
    @include gs-span(m, all);
    // @include gs-float(m, left);
  }
  
  .job-list-wrapper {
    .sidebar {
      @include gs-span(m, all);
      @include gs-float(m, left);
      margin-top: 140px;
      .search-box {
        padding: 20px;
      }
    }
  }
  .job-list {
    @include gs-span(m, all);
  }
  .job-list .page-title {
    margin-bottom: 380px;
  }
  .job-list .job {
    float: left;
    height: auto;
    min-height: 300px;
  }
  .job-list .job .job-info {
    position: relative;
    float: left;
    left: 0;
    height: auto;
  }
  .job-page .job .social {
    float: left;
    margin: 10px 0;
    font-size: 20px;
  }
  .job-page .job .job-info .job-attr {
    float: left;
    clear: left;
  }
  .job-list .job .social {
    float: left;
    margin: 10px 0;
    font-size: 20px;
  }

  .latest-jobs .job {
    min-height: 325px;
    height: inherit;
  }

  .vacancy-application-wrapper .page-content {
    @include gs-span(m, all);
  }

  .vacancy-application-wrapper .sidebar {
    display: none;
  }

  footer {
    @include gs-span(m, all);
    height: auto;
  }
  footer .col {
    @include gs-span(m, all);
    text-align: center;
    margin-bottom: 20px;
    &:last-child { @include gs-span(m, all); }
  }
  footer .col p {
    @include gs-span(m, all);
    margin-top: 16px;
  }
  footer .social li {
    float: none;
  }
  footer .social li span {
    float: none;
  }
  footer .col form input[type='text'] {
    width: 70%;
  }
  footer .col form input[type='submit'] {
    width: 20%;
  }
  footer .copyright {
    text-align: center;
    width: 100%;
  }
}