form {
  input[type='submit'] {
    text-transform: uppercase;
    background: #808080;
    font-family: $proxima;
    color: white;
    border: none;
    padding: 15px 40px;
  }
  input[type='text'] {
    border: none;
    font-family: $proxima;
    margin: 0 11px 0 0;
    font-size: 18px;
    color: $black;
    -webkit-input-placeholder { color: $black; }
    -moz-placeholder { color: $black; }
    -moz-placeholder { color: $black; }
    -ms-input-placeholder {color: $black; }
  }
}

form.new_vacancy_application {
  label {
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
  }
  input, textarea, select, label {
    float: left;
    clear: left;
    margin: 10px 0 0 0;
  }
  input[type='file'] {
    margin: 0;
    padding: 10px 20px;
  }
}