.joblisting {
  float: left;
  width: 100%;
  margin: 20px 0 10px 0;
  section {
    padding: 20px;
  }
  h3 {
    font-size: 20px !important;
    font-weight: 600;
    margin: 0;
  }
  h4 {
    margin: 25px 0 0 0;
  }
  p {
    margin: 0;
    font-style: normal;
  }
  .btn {
    float: right;
    margin-left: 20px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
.job-details {
  background: $lightgray;
  padding: 20px;
  margin: 10px 0 0 0;
  h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
  }
  h4 {
    margin: 10px 0 0 0;
  }
}
.sidebar {
  .joblisting {
    text-align: left;
    position: relative;
    margin: 0;
    a {
      text-decoration: none;
    }
    .btn {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .sidebar-search {
    padding: 15px 0 20px 20px;
    h3 {
      margin: 0 0 10px 0;
      text-transform: uppercase;
    }
    form {
      margin: 0;
      input {
        padding: 10px 0 10px 20px;
        text-transform: uppercase;
        font-family: $proxima;
        font-size: 16px;
        border: 0;
        width: 82%;
      }
      input[type='text'] {
        margin: 0 0 10px 0;
      }
      input[type='submit'] {
        width: 90%;
      }
    }
  }
}
